* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: hsla(220, 13%, 95%, 0.932);
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.repositoryContainer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.repository-card h2 {
  color: #242424;
  display: inline;
}

.repositoryContainer a {
  display: block;
  margin-top: 5px;
  color: #4d4d4d;
}

.test {
  position: relative;
}

.repositoryContainer ul {
  margin-top: 5px;
}

.repositoryContainer ul li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 8px;
  font-size: 12px;
  color: #fff;
  border-radius: 25px;
  background-color: #28a745;
}

.repositoryContainer p {
  margin-top: 10px;
  display: inline-block;
}

.repositoryContainer button {
  margin: 0 8px;
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}
